.background-paris {
    background-image: url('../images/jo-paris2024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.saut-page-pdf {
    page-break-after: always;
}