{% extends "base.html.twig" %}

{% block title %} Site des JO Paris-2024  {% endblock %}

{% block body %}
    
    <div class="">
        {% include "olympicGames.html.twig" %}
    </div>
    
{% endblock body %}